<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>
	
	<!-- <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>  -->
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    	<property name="securityManager" ref="securityManager"/>
	</bean>
<!-- 	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/> -->
	
	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" >
		<property name="realm" ref="shiroDbRealm" />
		<property name="cacheManager" ref="shiroCacheManager" />
		<property name="sessionMode" value="native"/>
		<property name="sessionManager" ref="sessionManager"/>
	</bean>

	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO"/>
    </bean>
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
    </bean>
	
	<bean id="shiroDbRealm" class="com.groot.service.ShiroDbRealm">
		<property name="systemUserDAO" ref="systemUserDAO" /> 
		<property name="selectDAO" ref="selectDAO" /> 
	<!-- property name="roleCustomDAO" ref="roleCustomDAO" /--> 
		<!-- 可配置cache token<->认证信息的cache，用于REST等需要频繁认证的场景 -->
		<property name="authorizationCachingEnabled" value="true"/>
		<property name="authorizationCacheName" value="shiro-activeSessionCache"/>
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/welcome.jhtml" />
		<property name="successUrl" value="/main.jhtml" />
		<property name="unauthorizedUrl" value="/welcome.jhtml" />
		<property name="filterChainDefinitions">
			<value>
				/welcome.jhtml = anon
				/main.jhtml = anon
				/getKaptchaImage.jhtml = anon
				/resources/**=anon
			</value>
		</property>
	</bean>

	<!-- 用户授权/认证信息Cache, 采用EhCache RMI集群 -->
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	
	
	<!-- exception handler -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
        <property name="exceptionMappings">
            <props>
                <prop key="org.apache.shiro.authz.UnauthorizedException">/jsp/login</prop>
            </props>
        </property>
    </bean>
</beans>